.P4 .container{
    scroll-snap-type: y mandatory ;
    overflow-y:auto;
    height: 100vh;
}

.P4 .container section{
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center ;
    margin: 0;
    scroll-snap-align: start;
    z-index: 2;
}
.P4 .container .s1{
    z-index: 3;
}
.P4 .container .s1 video{
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    filter: blur(15px);
    z-index: -2;
}
.P4 .container .s1 div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.351), rgba(255, 99, 99, 0.846));
    z-index: 1;
}
.P4 .container .s1 div #img_1{
    position: absolute;
    left: 50%;
    top:60%;
    transform: translate(-50%,-50%);
    width: 250px;
    height: 350px;
    object-fit: cover;
    box-shadow: 5px 5px 5px #623d3d22;
    border-radius: 20px;
}
.P4 .container .s1 div a{
    position: absolute;
    text-align: left;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.P4 .container .s1 div img{
    width: 105vw;
}
.P4 .container .s2 .co1{
    position: relative;
    top: 14%;
    width: 95vw;
    height: 70vh;
    background: linear-gradient(to bottom, white, rgba(255, 226, 226));
    border-radius: 20px;
    border: 1.5px solid rgb(255, 100, 100);
}
.P4 .container .s2{
    position: relative;
    align-items: center;
    justify-content: center;
    background: rgba(255, 99, 99, 0.846);
    margin: 0;
}

.P4 .container .s2 .co1 h1{
    margin: 10px 5px;
    text-align: center;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    -webkit-text-fill-color: rgb(255, 247, 247);
    -webkit-text-stroke: 1px rgb(77, 56, 56);
}

.P4 .container .s2 .co1 h2{
    text-align: center;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 5px 10px;
    color: rgb(162, 106, 106);
}

.P4 .container .s2 .co1 p{
    text-align: center;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    margin: 5px 10px;
    color: rgb(129, 89, 89);
}

.P4 .container .s3{
    background: linear-gradient(to bottom,rgba(255, 99, 99, 0.846), white);
    display: grid;
    padding: 35vh 0;
    margin: 0;
    grid-template-columns:  0.3fr;
    grid-template-rows: 0px 0.75fr;
    gap: 10px;
    
}
.P4 .container .s3 div{
    display: grid;
    position: relative;
    background-color: white;
    border-radius: 20px;
    border: 1.5px solid rgb(255, 100, 100);

}
.P4 .container .s3 .col1{
    position: relative;
    grid-row: 1;
    grid-column: 1;
    height:300px;
    width: 300px;
}
.P4 .container .s3 .col2{
    position: relative;
    grid-row: 2;
    grid-column: 1;
    width: 300px;
    height: 300px;
}
.P4 .container .s3 .col3{
    position: relative;
    grid-row: 2;
    grid-column: 2;
    top: 50%;
    transform: translate(0,-75%);
    width: 500px;
    height: 610px;
}
.P4 .container .s4{
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.P4 .container .s4 h1{
    color: rgb(255, 65, 65);
    font-size: 35px;
    font-family: "Open Sans", serif;
    text-align: center;
}
.P4 .container .s4 h1 span{
    font-size: 70px;
    font-family: "Staatliches", sans-serif;
    text-decoration: underline;
}
.P4 .container .s4 .socials i{
    display: inline-block;
    align-items: center;
    font-size: 55px;

    transform: translate(0,20%);
    color: rgb(255, 65, 65) ;
}
.P4 .container .section-p1{
    display: none;
}

.P4 .container .s4 button{
    color: white;
    font-family: "Staatliches", sans-serif;
    font-size: 30px;
    padding: 15px 15px;
    border-radius: 15px;
    outline: none;
    border: none;
    text-align: center;
    background: linear-gradient(to top, rgb(255, 205, 213), red);
}
.P4 .container .section-p2{
    position: relative;
    height: 100vh;
    scroll-snap-align: start;
}

.P4 .container .s3 p{
    transform: translate(0,-30%);
    margin: 10px 15px;
    text-align: center;
    font-size: 16px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(80, 61, 61);
}
.P4 .container .s3 p a{
    color: rgb(162, 112, 112);
}
.P4 .container .s3 img{
    position: absolute;
    width: 320px;
    object-fit: fill;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    filter: drop-shadow( 6px 8px 9px rgba(0, 0, 0, 0.25));
}
.P4 .container .s3 .col1 p{
    margin: 10px 15px;
    transform: translate(0,0);
}
.P4 .container .s3 .col1 img{
    width: 370px; 
    top: 48%;

}

.P4 .container .s3 .col1 .wrapper{
    overflow:hidden ;
}

.P4 .container .s3 .col1 .wrapper,
.P4 .container .s3 .col2 .wrapper,
.P4 .container .s3 .col3 .wrapper{
  position: relative;
  background: linear-gradient(to bottom, #FFC4C4,white);
  width: 290px;
  border-radius: 20px;
  height: 230px;
  border: 1px solid #FF7A7A;
  top: 60%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.P4 .container .s3 .col1 .wrapper{
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.P4 .container .s3 .col3 .wrapper{
    top: 56.5%;
    width: 490px;
    height: 520px;
}

.P4 .container .s3 .col3 p{
    transform: translate(0,-17%);
    margin: 10px 15px;
    text-align: center;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(80, 61, 61);
}

.P4 .menu_1{
    text-align: left;
}
.P4 .menu_1 ul{
    display: block;

}
.P4 .menu_1 li{
    width: 100%;
    height: 50px;
}
.P4 .menu_1 li a{
    width: 100%;
    height: 100%;
    padding-left: 1vw;
    padding-right:100vw;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}
.P4 .menu_1 a:hover{
    background-color: rgba(255, 128, 128, 0.785);
    backdrop-filter: blur(10px);

}
.P4 .menu_1 li:first-child{
    margin-right: auto;
}
.P4 #mobile {
    display: inline-block;
}
.P4 #mobile_2{
display: inline-flex;
}
.P4 #mobile_2 li a i{
    font-size: 24px;
}
.P4 #navbar_2{
    box-shadow: -10px 0px -10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    z-index: 999;
    background-color: var(--menu_color);
    backdrop-filter: blur(40px);
    display:none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}




@media(max-width:480px){
    .P4 .container .s3{
        width: 100vw;
        height: 200vh;
    }
    
    .P4 .container .s3{
        padding: 0;
        background: linear-gradient(to bottom,rgba(255, 99, 99, 0.846), white);
        display: grid;
        flex-direction: column;
        padding: 28vh 0;
        margin: 0;
        gap: 10px;
        grid-template-columns:  0.3fr;
        grid-template-rows: 0px 0.75fr;
        
    }
    .P4 .container .s3 .col3{
        width: 300px;
        height: 540px;
        grid-row: 3;
        grid-column: 1;
        margin: 15vh 0;
        
    }
    .P4 .container .s3 .col1{
        height:270px;
       
    }
    .P4 .container .s3 .col2{
        height:270px;
        
    }
    .P4 .container .s3 .col3 .wrapper{
        width: 290px;
        height: 460px;


    }
    .P4 .container .s2 .co1 h1{
        margin: 10px 5px;
        text-align: center;
        font-size: 30px;
    }
    
    .P4 .container .s2 .co1 h2{
        font-size: 15px;
        margin: 5px 10px;
    }
    
    .P4 .container .s2 .co1 p{

        font-size: 10px;
        margin: 5px 10px;

    }
    .P4 .container .s3{
        display: grid;
        padding: 14vh 0;
        margin: 0;
        grid-template-columns:  0.3fr;
        grid-template-rows:  auto 1fr;
        gap: 10px;
        
    }
    .P4 .container .s3 .col2 .wrapper{
        height:210px;
    }
    .P4 .container .s3 .col1 .wrapper{
        height:200px;
    }
    .P4 .container .s3 .col3 img{
        width:200px;
    }
    .P4 .container .s3 .col3 p{
        font-size: 19px;
    }
}

@media screen and (min-width: 480px) and (max-width:1023px){
    .P4 .container .s2 .co1 h1{
        margin: 10px 5px;
        text-align: center;
        font-size: 45px;
    }
    .P4 .container .s2 .co1 h2{
        font-size: 20px;
        margin: 5px 10px;
    }
    
    .P4 .container .s2 .co1 p{

        font-size: 15px;
        margin: 5px 10px;

    }
    .P4 .container .s3 .col1{
        height:260px;
        width: 260px;
    }
    .P4 .container .s3 .col2{
        height:260px;
        width: 260px;
    }
    .P4 .container .s3 .col3{
        width: 460px;
        height: 570px;
        
    }
    
    .P4 .container .s3 .col1 .wrapper,
    .P4 .container .s3 .col2 .wrapper,
    .P4 .container .s3 .col3 .wrapper{
    width: 250px;
    height: 200px;
    }
    .P4 .container .s3 .col1 .wrapper{
        height: 170px;
    }
    .P4 .container .s3 .col3 .wrapper{
        width: 450px;
        height: 480px;
    }
      
}


