/* General Layout for the Shop Page */
.P2{
    background: white;
}
  
.product-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    gap: 10px;
    padding: 3px;
    justify-content: center;
    align-items: center;
}


.product-card:hover {
    transform: translateY(-2px);
}
.product-card:hover h3{
    text-decoration: underline;
}
.product-list h3{
    font-family: Geneva, sans-serif;
    font-weight: normal;
    color: #000000;
    font-size: 14px;
}
.P2 .filter .LS .title i{
    display: none;
}
.P2 .filter {
    display: flex;
    justify-content: space-between;  /* Pushes LS to the left and RS to the right */
    align-items: center;  /* Aligns items vertically */
    width: 85vw;
    margin: 20px auto;
}

.P2 .filter .LS,
.P2 .filter .RS {
    display: flex;
    gap: 10px;  /* Adds spacing between buttons */
    font-size: 15px;
}

.P2 .filter button{
    background: transparent;
    border: none;
    font-size: 14px;
    padding: 0;
    z-index: 50;
}
.P2 .filter button .col_btn {
    display: none;
    border: #ededed 1px solid;
    border-radius: 4px;
    background: white;
    margin: 10px 0;
    padding: 20px 0;
    position: absolute;
    text-decoration: none;
    text-align: left;
    width: 270px;
}

.P2 .filter button .col_btn h3{
    padding-bottom: 10px;
    padding-left: 20px;
    text-decoration: underline;
    border-bottom: 1px solid #ededed;
}
.P2 .filter button .col_btn div{
    margin: 10px ;
}
.P2 .filter button .col_btn input[type="checkbox"]{
    place-content: center;
    display: grid;
    width: 21px;
    margin: 0 10px;
    border-radius: 0px;
    border: 1px solid #afafaf;
    height: 21px;
    appearance: none;
    -webkit-appearance: none;
}
.P2 .filter button .col_btn input[type="checkbox"]::before {
    content: "";
    width: 16px;
    margin: 0 10px;
    border-radius: 0px;
    height: 16px;
    transform: scale(0);
    background-color: white;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em rgb(141, 107, 107);
  }
  .P2 .filter button .col_btn .no2  input[type="checkbox"]::before{
    box-shadow: none;
  }
  .P2 .filter button .col_btn .no2 input[type="checkbox"]:checked::before{
    background-color:transparent ;
  }
.P2 .filter button .col_btn input[type="checkbox"]:checked::before {
    transform: scale(1);
    background-color: rgb(141, 107, 107);
  }
  .P2 .filter select{
    border: none;
  }
.P2 .filter button .col_btn label {
    font-size: 16px;
    cursor: pointer;
    color: #555;
    display: flex;
  }
  .P2 .filter button .col_btn .no2 label{
    color: #cccccc;
  }
  .P2 .filter button .col_btn .no2 label:hover{
    text-decoration: none;
  }
  .P2 .filter button .col_btn label span{
    transform: translateY(3px);
  }
.P2 .filter button .col_btn label:hover {
    text-decoration: underline;
}
.P2 .filter button .col_btn:hover{
    text-decoration: none;
}
.P2 .filter button:hover{
    text-decoration: underline;
}

.P2 .filter button .col_btn .box{
    width: 80px;
    border: #afafaf solid 1.5px ;
    min-height: 33px;
    margin: 0 10px;
}

.P2 .filter button .col_btn .col_btn2{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;

}
.P2 .Filter_btn{
    font-size: 13px;
    font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; ;
    margin: 18px 6.5vw ;
    background: transparent;
    border: none;
    font-weight: 200;
    color: black;
    text-decoration: none;
    display: none;
    justify-self:left;
    align-self: baseline;
}
.P2 .filter .LS br{
    display: none;
}
.P2 .Filter_btn:hover{
    text-decoration: underline;
}
.P2 .filter button .col_btn .col_btn2 h2{
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    color: #555;
}
.P2 .filter i{
    font-size: 20px;
}
.P2 .orders{
    padding: 20px;
    gap: 10px;
}
.P2 .orders .title{
    font-size: 25px;
    width: 100%;
    font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; ;
    padding: 0 0 5px;
    font-weight: 600;
    color: black;
}

.P2 .orders .Orders{
    width: 100%;
    min-height: 60px ;
    background: white;
    border-radius: 9px;
    border: 1.5px solid #ececec;
    justify-content: center;
    align-items: center;
}

.P2 .orders .Orders p{
    text-align: center;
    padding-bottom: 5px;
}
.P2 .orders .Orders p:first-child{
    padding-top:15px;
    font-size: 20px;
    width: 100%;
    font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; 
    font-weight: 500;
    color: black;
}

.P2 .orders .Orders p:nth-child(2){
    padding-bottom:15px;
    font-size: 12px;
    width: 100%;
    font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; 
    font-weight: 400;
    color: #555;
}

@media (max-width:600px) {
    .product-card{
        width: calc(50% - 30px);
    }
    .P2 .Filter_btn{
        display: block;
    }
    .P2 .filter{
        position: fixed;
        height: 100vh;
        width: 65vw;
        top: 0;
        margin: 0;
        right: 0;
        padding: 10px 5px;
        gap: 10px;
        background-color: white;
        display: flex;
        align-items:flex-start;
        justify-content: left;
        flex-direction: column;
        z-index: 999;
    }

    .P2 .filter .LS,
    .P2 .filter .RS {
        width: 100%;
        display: inline-block;

        position: relative;
        font-size: 15px;
        gap: 10px;

    }
    .P2 .filter .LS .title{
        text-align: center;
        align-self: center;
        justify-self: center;
        width: 100%; 
        padding: 0 0 10px; 
        border-bottom: 1px solid #dcdcdc;  
    }
    .P2 .filter .LS{
        z-index: 2;
    }
    .P2 .filter .RS{
        z-index: 1;
    }
    .P2 .filter .LS .title span{
        display: none;
    }
    .P2 .filter .LS .title i{
        color: #000000;
        position: absolute;
        left: 0;
        top: -5px;
        font-size: 25px;
        display: flex;
       }
    .P2 .filter .LS .title:after{
        content: 'Filter and sort';
    }
    .P2 .filter .LS br{
        display: inline;
    }
    .P2 .filter .LS i{
        transform: translateY(3px)
    }
    .P2 .filter .LS .availability{
        z-index: 2;
    }
    
}